@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    --ts: 350ms ;
    --ts-fast: 100ms ;
    --background-dark: #18222D ;
    --border-dark: #161f29 ;
    --background-light: #fff ;
    --border-light: #F9FAFB ;
}
.nav__container {
    height: 100% ;
    transition: var(--ts);
    border-right-style: solid ;
    display: flex ;
    flex-direction: column ;
    align-items: flex-start ;
    justify-content: flex-start ;
}

.nav__container.dark{
    border-right-color: var(--border-dark) ;
    background-color: var(--background-dark) ;
}

.nav__container.light{
    background-color: var(--background-light) ;
    border-right-color: var(--border-light) ;
}

.nav__container.close{
    width: 15% ;
}

.nav__container.open{
    width: 25% ;
}

.nav__container.close .logo{
    width: 0px;
}

.nav__container.close .ctrl-icon {
    height: 20px;
}

.nav-item {
    height: 13% ;
    width: 100% ;
    padding: 10px ;
    display: flex ;
    flex-direction: row ;
    align-items: center ;
    justify-content: flex-start ;
    cursor: pointer;
}

.nav-item.dark {
    color: white ;
    border-bottom: 1px solid #11181f;
}

.nav-item.light {
    color: black ;
    border-bottom: 1px solid #F9FAFB;
}


.logo {
    margin-left: auto ;
    transition: var(--ts-fast) ;
    height: 40px ;
    width: 40px;
}

.header-text {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem ;
}

.header-text.dark {
    color: white ;
}

.header-text.light {
    color: black ;
}


.nav-icon {
    height: 40px;
    width: 40px; 
    transition: var(--ts);
    cursor: pointer ;
    transform: rotate(-90deg) ;
}

.nav-icon.light{
    color: black ;
}

.nav-icon.dark{
    color: white ;
}

.search-icon {
    height: 20px ;
    color: white ; 
    width: 20px ; 
    margin-left: 10px; 
}

.search-icon.dark {
    color: white ;
}

.search-icon.light {
    color: black ;
}

.nav-icon.open{
    transform: rotate(0deg) ;
}

.search {
    transition: var(--ts) ;
    border-style: none;
    height: 90% ;
    width: 90%;
    padding: 20px; 
    border-radius: 5px;
}

.search.closed{
    width: 0rem ;
    padding: 0;
}

.search.dark {
    background-color: #213040;
}

.search.light{
    background-color: #E5E7EB ;
}

input:focus{
    outline: none;
}

.search.dark:focus {
    background-color: #fff;
}

.search.light:focus {
    background-color: #DBEAFE;
}

.search::placeholder{
    color: rgb(167, 164, 164) ;
}


.controls {
    margin-top: auto ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.controls.light{
    border-top: 2px solid #F9FAFB;
}

.controls.dark {
    border-bottom: 1px solid #11181f;
}

.ctrl-icon {
    transition: var(--ts) ;
    height: 25px ;
    cursor: pointer;
}

.ctrl-icon.dark {
    color: white ;
}

.ctrl-icon.light{
    color: black ;
}

.ctrl-icon:hover {
    color: #1DA1F2;
}


.chat-section {
    display: flex ;
    flex-direction: column ;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100% ;
    width: 100% ;
    overflow-y: scroll;
    overflow: hidden;
}

.nav-text {
    margin-left: 7px ;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold ;
}

.nav-text.light {
    color: black ''
}

.nav-text.dark {
    color: white ;
}

.settings-section {
    display: flex ;
    flex-direction: column ;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100% ;
    width: 100% ;
    overflow-y: scroll;
    overflow: hidden;
}

.settings-logo {
    height: 30px ;
}

.set-text {
    margin-left: 7px ;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold ;
    font-size: 1rem ;
}

.set-text.light {
    color: black ''
}

.set-text.dark {
    color: white ;
}

.set-text.hidden{
    font-size: 0.6rem;
}

/* Mobile responsive design */

.nav__container-mobile{
    width: 100% ;
    position: fixed ;
    bottom: 0;
    z-index : 100 ;
    transition: var(--ts);

}

.nav__container-mobile.dark{
    background-color: var(--background-dark);
}

.nav__container-mobile.light{
    background-color: var(--background-light);
}

.nav__container-mobile.closed{
    height: 8% ;
}

.nav__container-mobile.open{
    height: 50% ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.m-navitem-wrapper{
    display :flex ;
    align-items: center;
    justify-content: space-evenly;
}

.m-navitem-wrapper.closed{
    height: 100% ;
    width: 100% ;
}

.m-navitem-wrapper.open{
    height: 8%;
    width: 100% ;
}

.m-nav-item{
    height: 100% ;
    width: 10% ;
    padding: 2px ;
    display: flex;
    align-items: center;
    cursor: pointer;
}
